body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chessboard {
    display: flex;
    flex-direction: column;
    border: 5px solid #333;
    width: 200px;
    height: 200px;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    aspect-ratio: 1;
}

.black {
    background-color: #000;
}

.white {
    background-color: #fff;
}
